@using ProjectManager.Models
@model IEnumerable<BoardViewModel>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="wrapper">
    <aside class="sidebar">
        <ul class="main-nav">
            <li class="main-nav--collapsible">
                <a class="main-nav__link" >
                    <span class="main-nav__icon"><i class="pe-7f-home"></i></span>
                    Dashboard <span class="badge badge--line badge--blue">2</span>
                </a>
                <ul class="main-nav__submenu">
                    @foreach (BoardViewModel board in Model)
                    {
                        <li>
                            @Ajax.ActionLink(board.Name, "GetBoard", new { id = board.Id }, new AjaxOptions { UpdateTargetId = "results" }, new { @class = "board-"+board.Id })
                        </li>
                    }
                </ul>
                <input type="text" placeholder="Name" class="new_board_name" />
                <input type="button" value="New Board" class="create_new_board" />
            </li>
        </ul>
    </aside>

    <section class="content">

        <div id="results">
            @Html.Partial("GetBoard", Model.FirstOrDefault());
        </div>


        @section scripts{
        </section>
    </div>

    <script type="text/javascript" src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    <script type="text/javascript" src="~/Scripts/app.js"></script>
        }
